<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964719527007-bi646q6rllasjsod80d75lpslsdi8ses.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964719527007-bi646q6rllasjsod80d75lpslsdi8ses</string>
	<key>API_KEY</key>
	<string>AIzaSyCtDwpyRgkTjTFzTIHfP4_b0JguZ1veRBI</string>
	<key>GCM_SENDER_ID</key>
	<string>964719527007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tacarlen.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-24c4f</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-24c4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964719527007:ios:96ed2f5a83a2375a0707ea</string>
</dict>
</plist>